{% set inBlock = false %}
{% set inSection = false %}

{# these fields exist within a .blocks-wrap so start a block if not already started #}
{% set wrappedBlocks = ['heading', 'textBlock', 'image', 'button', 'accordionWrapper'] %}

{# these blocks cannot be within a section, so end the section before #}
{% set notWithinSection = ['sectionStart', 'banner'] %}

{% if entry.blocks is not empty %}

    {% for block in entry.blocks.all() %}
        {% if block.type.handle in wrappedBlocks %}
            {% if inBlock == false %}
                <div class="blocks-wrap">
                {% set inBlock = true %}
            {% endif %}
        {% else %}
            {% if inBlock %}
                </div>
            {% endif %}
            {% set inBlock = false %}
        {% endif %}

        {% if inSection and block.type.handle in notWithinSection %}
            </section>
            <!-- <<< section ended <<< -->

            {% set inSection = false %}
        {% endif %}

        {# This is really the block handle #}
        {% switch block.type.handle %}
            {% case 'sectionStart' %}
                {% include '_includes/blocks/_section_start.twig' %}
                {% set inSection = true %}

            {% case 'hero' %}
                {% include '_includes/blocks/_hero.twig' %}

            {% case 'banner' %}
                {% include '_includes/blocks/_banner.twig' %}

            {% case 'heading' %}
                {% include '_includes/blocks/_heading.twig' %}

            {% case 'textBlock' %}
                {% include '_includes/blocks/_text_block.twig'
                    with {
                        width: block.blockWidth|default('12'),
                    }
                %}

            {% case 'image' %}
                {% include '_includes/blocks/_image.twig'
                    with {
                        width: block.blockWidth|default('12'),
                        imageSize: block.imageSize,
                        imageAlign: block.imageAlign,
                    }
                %}

            {% case 'gallery' %}
                {% include '_includes/blocks/_gallery.twig'  %}

            {% case 'button' %}
                {% include '_includes/blocks/_button.twig'
                    with {
                        width: block.blockWidth|default('12'),
                        textAlign: block.textAlign,
                        verticalAlignCenter: block.verticalAlignCenter
                    }
                %}

            {% case 'imageBlocks' %}
                {% include '_includes/blocks/_image_blocks.twig' %}

            {% case 'cards' %}
                {% include '_includes/blocks/_cards.twig' %}

            {% case 'video' %}
                {% include '_includes/blocks/_video.twig' %}

            {% case 'accordionWrapper' %}
                {% include '_includes/blocks/_accordion.twig'
                    with {
                        width: block.blockWidth|default('12'),
                    }
                %}

            {% case 'contactForm' %}
                {% include '_includes/blocks/_contact_form.twig' %}

            {% default %}
                <!-- !! A block has been created without adding case to block twig file !! -->
        {% endswitch %}

    {% endfor %}

    {% if inSection %}
        </section>
        <!-- <<< section ended <<< -->
    {% endif %}

    {% if inBlock %}
        </div>
    {% endif %}
{% else %}
    {% include '_includes/blocks/_hero_placeholder.twig' %}
{% endif %}
