{% set sectionStarted = false %}

{% if entry.neoBlocks %}
    <div class="grid gap-y-8 mb-36">
    {% for block in entry.neoBlocks.level(1).all() %}
        {% switch block.type.handle %}
            {% case 'columns' %}
                {% include '_includes/neocolumn/_columns.twig' %}
            {% case 'herobar' %}
                {% include '_includes/_herobar.twig' %}
            {% case 'sectionStart' %}
                {% if sectionStarted %}
                    </section>
                    <!-- section ended -->
                {% endif %}
                <!-- section start -->
                <section class="contents">
                {% set sectionStarted = true %}
        {% endswitch %}
    {% endfor %}

    {% if sectionStarted %}
        </section>
        <!-- section ended -->
    {% endif %}
    </div>
{% endif %}
