{% for profile in socialMedia.socialMedia.all() %}
    {# if the url/link label has been entered in craft, it will be output; if not, nothing will be output #}
    <a href="{{ profile.profileUrl.value }}" title="{{ profile.profileUrl.label(true) }}">
        <svg class="social-icon">
            <use xlink:href="{{ craft.vite.asset("/images/icons-public.svg") }}#social-{{ profile.platform }}"></use>
        </svg>
    </a>
{% endfor %}
