<?php

// Great tool for configuration: https://mlocati.github.io/php-cs-fixer-configurator/

$finder = PhpCsFixer\Finder::create()
    ->in('config')
    ->in('modules')
    ->append([
        __DIR__ . '/bootstrap.php',
        __DIR__ . '/public/index.php',
        __DIR__ . '/public/editorcss.php',
    ])
;

return (new PhpCsFixer\Config())
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => true,
        '@PSR12' => true,
        '@PHP8x5Migration' => true,
        'array_syntax' => [
            'syntax' => 'short',
        ],
        'declare_strict_types' => false,
        'fopen_flags' => false,
        'heredoc_indentation' => false,
        'method_argument_space' => [
            'on_multiline' => 'ensure_fully_multiline',
        ],
        'ordered_imports' => true,
        'phpdoc_summary' => false,
        'protected_to_private' => false,
    ])
    ->setFinder($finder)
;
