parameters:
    level: 0
    bootstrapFiles:
        - phpstan-bootstrap.php
    paths:
        - bootstrap.php
        - config
        - modules
        - public/index.php
        - public/editorcss.php
#    ignoreErrors:
#        - '#Static call to instance method Carbon\\CarbonInterval::[a-zA-Z]+\(\)#'
