{% if block.bannerImage|length > 0 %}
    {% set heading = block.heading|striptags %}
    {% set textBlock = block.textBlock %}
    {% set image = block.bannerImage.one() %}
    {% set imageTransform = 'hero' %}
<div class="banner" style="background-image: url('{{ image.getUrl(imageTransform) }}'); ">
    <div class="h-full bg-black-transparent"></div>

    <div class="relative">
        {% if heading %}
            <h1 class="banner-heading">{{ textBlock }}</h1>
        {% endif %}
        {% if textBlock %}
            <div class="relative flex flex-wrap w-content mb-12 z-40">
                <div class="md:w-1/2">
                    <div class="banner-text">{{ textBlock }}</div>
                </div>
            </div>
        {% endif %}
    </div>

    {% endif %}
