<div{% if block.elementId %} id="{{ block.elementId }}"{% endif %}
    class="{% if textAlign == 'textCenter' %} text-center{% endif %} col-span-{{ width }}" >
    <a href="{{ block.button.value }}" class="button{% if textAlign == 'textCenter' %} mx-auto{% endif %}">
        {{ block.button.label }}
    </a>
</div>
