{% set wrapperClasses = [blockWidth(block), 'flex'] %}

{% if block.buttonAlign == 'textCenter' %}
    {% set wrapperClasses = wrapperClasses | merge(['justify-center']) %}
{% elseif block.buttonAlign == 'textCenterMobile' %}
    {% set wrapperClasses = wrapperClasses | merge(['justify-center', 'md:justify-start']) %}
{% endif %}

{% if block.alignWithContent %}
    {% set wrapperClasses = wrapperClasses | merge(['w-copy', 'mx-auto']) %}
{% endif %}

{% set wrapperClasses = wrapperClasses | merge(block.classes | explodeClass) %}

<div class="{{ wrapperClasses | join(' ') }}"{% if block.elementId %} id="{{ block.elementId }}"{% endif %}>
    <a href="{{ block.button.value }}" class="button">
        {{ block.button.label }}
    </a>
</div>
