{% include '_includes/blocks/_element_id.twig' %}

{% set width = block.blockWidth|default('100') %}

<div {% if elementId %} id="{{ elementId }}"{% endif %}
     class="lg:mt-8{% if block.textAlign == 'textCenter' %} text-center{% endif %} col-{{ width }}" >
    <a href="{{ block.buttonLink }}" class="button{% if block.textAlign == 'textCenter' %} mx-auto{% endif %}">
        {{ block.buttonText }}
    </a>
</div>
