{% set classes = ['max-w-3xl'] %}

{% if block.textAlign == 'textCenter' %}
    {% set classes = classes|merge(['mx-auto', 'text-center']) %}
{% elseif block.textAlign == 'textCenterMobile' %}
    {% set classes = classes|merge(['text-center', 'md:text-left']) %}
{% endif %}

{% if block.classes %}
    {% set classes = classes|merge(block.classes|explodeClass) %}
{% endif %}

{% if block.uppercase %}
    {% set classes = classes|merge(['uppercase']) %}
{% endif %}

{% set width = block.blockWidth|default(12) %}
{% set classes = classes|merge(['md:col-span-' ~ width]) %}

{% set heading = block.heading|heading_striptags %}
{% if block.headingLink %}
    {% set heading %}
        <a href="{{ block.headingLink.value }}">{{ heading }}</a>
    {% endset %}
{% endif %}

{# if adjusted, review other uses #}
{{ tag('h2', {
    html: heading,
    id: block.elementId,
    class: classes,
}) }}
