    <section class="overflow-hidden">
        <div class="hero bg-gray-200">
            <div class="w-content">
                <div class="flex items-center">
                    <h1 class="banner-heading ml-0">{{ entry.title }}</h1>
                </div>
                <div class="h-[2px] bg-green-500 w-1/2 mt-2"></div>
            </div>
        </div>
    </section>

    <section class="py-36 text-xl">
        <div class="w-content-narrow text-center">
            Content coming soon.
        </div>
    </section>
