    <section class="overflow-hidden">
        <div class="hero bg-gray-600">
            <div class="w-content h-152">
                <div class="flex flex-col items-center justify-center text-center h-152">
                    <h1 class="banner-heading ml-0">{{ entry.title }}</h1>
                    <div class="h-[2px] bg-green-500 w-1/2 mt-2 mx-auto"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-36 text-xl">
        <div class="w-content-narrow text-center">
            Content coming soon.
        </div>
    </section>
