{# @craft-todo set up so user has option to change whether image or text is first #}

{% set imageTransform = 'imageBlock' %}
<div class="image_blocks-wrap">
    {% for imageBlock in block.imageBlocks.all() %}
        <div class="image_block-wrap w-content flex mb-12">
            <div class=" flex flex-col lg:flex-row w-full">
                <div class="image_block-image">
                    {% for item in imageBlock.imageBlock.all() %}
                        {% if item.type.handle == 'image' %}
                            {% set image = item.image[0] %}
                            {% if image %}
                                {{ image(image, imageTransform, { class: '' }) }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="image_block-content">
                    <div>
                        {% for item in imageBlock.imageBlock.all() %}
                            {% if item.type.handle == 'heading' %}
                                <h4 class="font-normal text-3xl font-body">{{ item.heading }}</h4>
                            {% endif %}
                        {% endfor %}

                        {% for item in imageBlock.imageBlock.all() %}
                            {% if item.type.handle == 'textBlock' %}
                                {{ item.textBlock }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
