<section class="overflow-hidden">
    <div class="hero bg-gray-600">
        <div class="w-content h-152"></div>
    </div>
</section>

<section class="py-36 text-xl">
    <div class="w-content-copy text-center">
        Content coming soon.
    </div>
</section>
