{% if sectionStarted %}
    </section>
    <!-- section ended -->
{% endif %}
<!-- section start -->
<section class="section-wrap py-16" {% if block.elementId %} id="{{ block.elementId }}"{% endif %}>
    {% set sectionStarted = true %}
