{% set elementId = null %}
{% if block.elementId %}
    {% set elementId = block.elementId %}
{% endif %}

{% if sectionStarted %}
    </section>
    <!-- section ended -->
{% endif %}
<!-- section start -->
<section class="contents col-100" {% if elementId %} id="{{ elementId }}"{% endif %}>
    {% set sectionStarted = true %}
