{% set verticalAlignCenter = block.verticalAlignCenter %}

{% set classes = ['col-span-12', 'md:col-span-' ~ width] %}

{% if verticalAlignCenter == true %}
    {% set classes = classes | merge(['items-center']) %}
{% endif %}

{% if block.textAlignCenter == true %}
    {% set classes = classes | merge(['text-center', 'lg:text-left']) %}
{% endif %}

{% if block.classes %}
    {% set classes = classes | merge(block.classes | explodeClass) %}
{% endif %}

<div class="text-block-wrap {{ classes | join(' ') }}"{% if block.elementId %} id="{{ block.elementId }}"{% endif %}>
    <div>{{ block.textBlock }}</div>
</div>
