{% set verticalAlignCenter = block.verticalAlignCenter %}

{% set classes = ['col-span-12', 'md:col-span-' ~ width, 'lg:text-left',  'text-base', 'lg:text-xl'] %}

{% if width == '12' %}
    {% set classes = classes | merge(['mx-auto']) %}
{% endif %}

{% if verticalAlignCenter == true %}
    {% set classes = classes | merge(['items-center']) %}
{% endif %}

{% if block.textAlignCenter == true %}
    {% set classes = classes | merge(['text-center']) %}
{% endif %}

{% if block.fontWeight == '300' %}
    {% set classes = classes | merge(['font-light']) %}
{% elseif block.fontWeight == '700' %}
    {% set classes = classes | merge(['font-bold']) %}
{% endif %}

{% if block.classes %}
    {% set classes = classes | merge(block.classes | explodeClass) %}
{% endif %}

<div class="text-block-wrap {{ classes | join(' ') }}"{% if block.elementId %} id="{{ block.elementId }}"{% endif %}>
    <div>{{ block.textBlock }}</div>
</div>
