@config "../../tailwind.config.js";

@import "tailwindcss";

/* base styles */
@import "./partials/base.css";

@layer components {
    /* common styles */
    @import "./partials/headings.css";
    @import "./partials/content.css";
}
