@config "../../tailwind.config.js";

@import "tailwindcss";

/* base styles */
@import "./partials/base.css";

@layer components {
    /* common styles */
    @import "./partials/alerts.css";
    @import "./partials/accordion.css";
    @import "./partials/content_alignment.css";
    @import "./partials/headings.css";
    @import "./partials/forms.css";
    @import "./partials/embed.css";
    @import "./partials/buttons.css";
    @import "./partials/details.css";
    @import "./partials/gallery.css";
    @import "./partials/social.css";
    @import "./partials/content.css";
    @import "./partials/header.css";
    @import "./partials/footer.css";
    @import "./partials/hero.css";
    @import "./partials/banner.css";
    @import "./partials/cards.css";

    /* page specific */

    /* @import ; */
}


