<div class="w-content-copy">
    {% for block in subContent.accordion.all() %}
        <details class="my-6">
            <summary class="flex justify-between w-full z-50 pt-2">
                <span class="flex gap-2">
                    {% set icon = block.accordionIcon.one() %}
                    {% if icon %}
                        {{ image(icon, 'accordionIcon', { class: 'w-8 h-8' }) }}
                    {% endif %}
                    <span class="mr-4">{{ block.accordionHeading }}</span>
                </span>
                <span class="details-plus">+</span>
                <span class="details-minus">−</span>
            </summary>
            <div class="pl-12">{{ block.accordionContent }}</div>
        </details>
    {% endfor %}
</div>
