{% extends '_page.twig' %}

{% block content %}
    {% for service in craft.entries().section('services').all() %}
        <a href="{{ service.url }}">{{ service.title }}</a>
    {% endfor %}
{% endblock %}


