{# to preview, go to /error #}
{# parents: page > layout #}
{% extends '_page.twig' %}

{% block page_title %}An Error Occurred | {% endblock %}

{% block content %}
    <section class="w-content-copy text-center">
        <h1>{% block heading %}Oops! An Error Occurred{% endblock %}</h1>
        <div class="lg:text-lg leading-8">
            Something is broken. Please let us know what you were doing when this error occurred. We will fix
            it as soon as possible. Sorry for any inconvenience caused.
        </div>
    </section>
{% endblock %}
