{% extends "_page" %}

{% block page_title %}An Error Occurred | {% endblock %}

{% block content %}
    <div class="herobar py-24">
        <div class="w-content">
            <div class="w-4/5 lg:w-3/5 max-w-2xl lg:max-w-full mx-auto lg:mx-0">
                <h1 class="mt-0 mb-6 leading-tight">Oops! An Error Occurred</h1>
                <div class="lg:text-lg leading-8">
                    Something is broken. Please let us know what you were doing when this error occurred. We will fix
                    it as soon as possible. Sorry for any inconvenience caused.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
