{% extends "_page" %}

{% block page_title_wrap %}{{ siteInformation.companyName }}{% if seo %} | {{ seo.pageTitle }}{% endif %}{% endblock %}

{% block content %}
    <h1>{{ siteName }}</h1>

    <button class="button">Button Button</button>
    <a href="" class="button">Link Button</a>
    <div class="flex my-4">
        <button class="button-link">Button Link</button>
        <a href="" class="ml-4">Link</a>
    </div>
    <div class="bg-gray-500 mt-4 p-4">
        <h2>Buttons on Dark Background</h2>
        <button class="button">Button Button</button>
        <a href="" class="button">Link Button</a>
    </div>
{% endblock %}
