/* stylelint-disable custom-property-pattern */

/* Safelist specific classes & pattern-based utilities
   These classes are used/referenced in the the database/CMS,
   but not used in the code so normally Tailwind would skip them */
@source inline("md-enter-active md-leave-active md-enter md-leave-active");
@source inline("{xs:,sm:,md:,lg:,xl:,}{m,p}{t,b,r,l,x,y}-{0,1,2,3,4,6,8,10,12,16,24}");
@source inline("{sm:,md:,lg:,}{col-span}-{1,2,3,4,5,6,7,8,9,10,11,12}");

/* https://tailwindcss.com/docs/adding-custom-styles#adding-base-styles */
/* colour converter: https://lik.ai/tools/color-convertor/ */
@theme {
    --breakpoint-xs: 25rem;
    --color-black-transparent: hsl(none 0% 0% / 40%);
    --color-white-transparent: hsl(none 0% 100% / 60%);
    --color-white-transparent-dark: hsl(none 0% 100% / 80%);
    --max-width-8xl: 90rem;

    /* see https://tailwindcss.com/docs/font-family for list */
    --font-headings: "Roboto", "Helvetica Neue", "Arial", var(--font-sans);
}

@supports (color: color(display-p3 1 0 0)) {
    @theme {
        /* not sure this is needed (does it make a difference), but it's easy to add */
        --color-white: color(display-p3 1 1 1);
        --color-black: color(display-p3 0 0 0);
        --color-black-transparent: color(display-p3 0 0 0 / 40%);
        --color-white-transparent: color(display-p3 0 0 0 / 60%);
        --color-white-transparent-dark: color(display-p3 0 0 0 / 80%);
    }
}

body {
    @apply font-sans leading-normal text-gray-800;
}

@layer base {
    button {
        @apply cursor-pointer disabled:cursor-not-allowed;
    }

    /* this file is for public and private/admin pages */
    a, .button-link {
        @apply text-blue-500 no-underline transition-default outline-hidden rounded-sm;

        &:hover,
        &:active {
            @apply underline text-blue-700;
        }

        &:focus {
            @apply ring-2 ring-zinc-200 bg-zinc-200;
        }

        &:disabled {
            @apply opacity-75;

            &:hover {
                @apply no-underline cursor-default;
            }
        }
    }

    a[href^="tel"], a[href^="mailto"] {
        @apply whitespace-normal md:whitespace-nowrap;
    }

    b, strong {
        @apply font-bold;
    }

    p, ul, ol {
        @apply my-4;
    }

    ul, ol {
        @apply pl-10 text-left;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }

    li {
        @apply mb-2;
        &:last-child {
            @apply mb-0;
        }
    }

    address {
        @apply not-italic;
    }

    td {
        @apply align-top;
    }
}
