.button {
    @apply px-4 py-2 text-white text-center shadow-none border-2 border-blue-500 bg-blue-500
    leading-tight transition-all duration-300 ease-in-out outline-hidden rounded-sm;

    &:hover {
        @apply text-white border-blue-800 bg-blue-800 no-underline;
    }

    &:focus {
        @apply outline-hidden ring-3 ring-blue-500 no-underline;
    }

    &:disabled {
        @apply bg-gray-400 border-gray-400 cursor-not-allowed;

        &:hover {
            @apply bg-gray-400 border-gray-400 cursor-not-allowed;
        }
    }
}

a.button {
    @apply inline-block focus:bg-blue-500;
}
