.cards-wrap {
    @apply flex flex-wrap justify-center gap-8 mx-auto p-8;
}

.card {
    @apply w-80 p-8 bg-zinc-300 hover:no-underline hover:shadow-lg text-black focus:ring-blue-500 ring-offset-2;
}
