.cards-wrap {
    @apply flex flex-wrap justify-center gap-8 mx-auto p-8;
    /* @apply grid sm:grid-cols-2 gap-8 mx-auto; */
}

.card {
    @apply p-8 bg-zinc-300 hover:no-underline hover:shadow-lg text-black focus:ring-blue-500 rounded-md;
}
