/* https://tailwindcss.com/docs/adding-custom-styles#adding-base-styles */

@layer base {
    /* this file is for public and private/admin pages */
    a, .button-link {
        @apply text-blue-500 no-underline transition-all duration-300 ease-in-out outline-none rounded;
    }

    a:hover,
    a:active,
    .button-link:hover,
    .button-link:active {
        @apply underline text-blue-700;
    }

    a:focus, .button-link:focus {
        @apply ring-2 bg-zinc-200;
    }

    a:disabled, .button-link:disabled {
        @apply opacity-75;
    }

    a:disabled:hover, .button-link:disabled:hover {
        @apply no-underline cursor-default;
    }

    a[href^="tel"], a[href^="mailto"] {
        @apply whitespace-normal md:whitespace-nowrap;
    }

    b, strong {
        @apply font-bold;
    }

    p {
        @apply my-4;
    }

    ul, ol {
        @apply pl-10 text-left;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }

    address {
        @apply not-italic;
    }

    td {
        @apply align-top;
    }
}
