/* stylelint-disable selector-class-pattern */

.blocks-wrap, .text-block-wrap, .no_padding-wrap {
    /* Remove top margin from first child text/content elements */
    p:first-child,
    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    ul:first-child,
    ol:first-child {
        @apply mt-0;
    }

    p:last-child,
    ul:last-child,
    ol:last-child {
        @apply mb-0;
    }
}

.blocks-wrap {
    @apply w-content-max grid grid-cols-1 blocks-wrap:grid-cols-12 blocks-wrap:gap-x-12 w-full;
}

.heading-full-width, .text-block-wrap {
    /* same as .w-content-copy */
    @apply max-w-copy;
}
/* Ensure .heading-full-width & .text-block-wrap is centered when also .col-span-12 */
.heading-full-width.blocks-wrap\:col-span-12,
.text-block-wrap.blocks-wrap\:col-span-12 {
    @apply blocks-wrap:w-copy blocks-wrap:mx-auto;
}
