/* stylelint-disable selector-class-pattern */

.blocks-wrap, .text-block-wrap, .no_padding-wrap {
    /* Remove top margin from first child text/content elements */
    p:first-child,
    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    ul:first-child,
    ol:first-child {
        @apply mt-0;
    }

    p:last-child,
    ul:last-child,
    ol:last-child {
        @apply mb-0;
    }
}

.blocks-wrap {
    @apply w-content grid grid-cols-1 md:grid-cols-12 md:gap-x-12 w-full;
}

.text-block-wrap {
    /* same as .w-content-copy */
    @apply max-w-3xl;
}
/* Ensure .text-block-wrap is centered when also .col-span-12 */
.text-block-wrap.md\:col-span-12 {
    @apply md:mx-auto;
}
