details summary {
    @apply list-none cursor-pointer;
}
details summary::-webkit-details-marker {
    @apply hidden;
}

details .details-minus {
    @apply hidden;
}
details[open] .details-minus {
    @apply block;
}
details[open] .details-plus {
    @apply hidden;
}
