/* stylelint-disable no-descending-specificity */

[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"],
textarea {
    @apply w-full px-2 py-1 text-gray-800 border border-gray-300 bg-gray-100 transition-default outline-hidden rounded-xs;

    &:focus {
        @apply bg-gray-100 outline-hidden ring-2 ring-blue-500;
    }
}

textarea {
    @apply align-top text-black;
}

select {
    @apply w-full p-1 text-black border border-gray-300 bg-gray-100 transition-default outline-hidden rounded-xs;
    height: 2.14rem;

    &:focus {
        @apply outline-hidden ring-2 ring-blue-500;
    }
}

[type="checkbox"],
[type="radio"],
[type="submit"],
[type="image"],
label,
select {
    @apply cursor-pointer;
}

[type="file"] {
    @apply w-full outline-hidden rounded-xs;

    &:focus {
        @apply outline-hidden ring-2 ring-blue-500;
    }
}

[type="text"],
[type="checkbox"],
[type="radio"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"],
[type="file"],
[type="image"],
[type="submit"],
textarea,
select {
    @apply outline-hidden rounded-xs;

    &:focus {
        @apply outline-hidden ring-2 ring-blue-500;
    }
}

.form-wrap {
    @apply w-11/12 max-w-lg mx-auto my-4 p-4 border border-gray-300 shadow-md;
}

.field-wrap {
    @apply mb-4;

    label {
        @apply block mb-1;
    }
}

.field-wrap-radio,
.field-wrap-checkbox {
    @apply flex flex-nowrap items-start;

    input {
        @apply shrink;
        margin-top: 0.35em;
    }

    label {
        @apply grow mb-0 pl-2;
    }
}

.field-wrap-radios,
.field-wrap-checkboxes {
    @apply mb-4;

    legend {
        @apply mb-1;
    }

    .field-wrap-radio,
    .field-wrap-checkbox {
        @apply mb-1 mr-4;
    }
}

.field-errors {
    @apply mb-1 pl-0 list-none;

    li {
        @apply mb-1 p-2 bg-gray-200 border-l-10 border-red-700;
    }
}

.field-wrap-readonly {
    @apply relative;

    &::after {
        @apply absolute top-[0.5rem] right-0 text-xs opacity-50;
        content: "read-only";
    }

    input {
        @apply opacity-50;
    }
}

.field-help {
    @apply w-full mt-px pl-[0.1em] text-xs italic text-gray-600 leading-tight;
}

.form-action {
    @apply text-sm ml-4;
}
