.image-full_width {
    /* makes images go full width on desktop, but limit the height on mobile to restrict how big they can get */
    @apply w-auto md:w-full max-h-124 md:max-h-none;
}

.image_block-wrap:nth-of-type(even) {
    .image_block-image {
        @apply order-1;
    }
    .image_block-content {
        @apply order-2;
    }
}

.image_block-wrap:nth-of-type(odd) {
    .image_block-image {
        @apply order-2;
    }
    .image_block-content {
        @apply order-1;
    }
}

.image_block-image {
    @apply w-full lg:w-1/2 lg:max-w-1/2;
    img {
        @apply mx-auto;
    }
}

.image_block-content {
    @apply flex items-center justify-center w-full lg:w-[600px] lg:max-h-[600px] lg:max-w-1/2 p-24 bg-white;
}
