{% extends '_page.twig' %}

{% block content %}
    {% include '_includes/_contact_info.twig' %}

    {% if entry.contactFormThanks %}
        <div class="alert alert-success">{{ entry.contactFormThanks }}</div>
    {% else %}
        <div class="alert alert-success">Thank you for reaching out. We will be in touch within 2 business days.</div>
    {% endif %}
{% endblock %}
